table {
    //width: 100%;
    width: 89.6em;
}

#table2 {
    border: 1px solid black;
}

.firstTableTd {
    border: 1px solid black;
}

#td1 {
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

#td2 {
    width: 40%;
}

#td3 {
    width: 40%;
}

#td21 {
    width: 33%;
}

#td22 {
    width: 67%;
}

#selectedFileContent{
  padding-left: 20px;
  padding-right: 20px;
}

#textualResultsContainer{
  padding-left: 20px;
  padding-right: 20px;
}

.textAlignCenter {
    text-align: center;
}

.yScrollable1 {
    height: 20em;
    width: 28.8em;
    overflow-y:scroll;
    overflow-x:scroll;
}

.yScrollable2 {
    height: 20em;
    width: 60em;
    overflow-y:scroll;
    overflow-x:scroll;
}

//#textualResults li:nth-of-type(1n+10000) {
//    display: none;
//}

#textualResults {
    list-style-type:none
}

.myProgress {
    width: 100%;
    background-color: #ddd;
}

.myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

#keywords {
    width: 100%;
}



svg {
  //background: #E6DFCC;
  //background: #ccffcc;
}
.point {
  fill: teal;
  opacity: 0.8;
  cursor: pointer;
}
.point:hover {
  opacity: 1;
}
.point text {
  fill: #333;
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 10px;
}

.link, .indicator {
  //stroke: white;
  stroke: red;
  fill: none;
  visibility: hidden;
  pointer-events: none;
}
.visible.link, .visible.indicator {
  visibility: visible;
}